@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

:root {
    --compass-blue: #0e69b9;
    --compass-green: #b6da95;
    --compass-light-blue: #b1d2e3;
    --compass-light-green: #c6eea7;
    --shadow-blue: #d1e2e5;
    --border-light: #e6e6e6;

    background: var(--compass-blue);

    html, body {
        background: white;
        font-family: 'Oxygen', sans-serif;

        ul {
            @apply flex flex-col list-disc pl-5;
            gap: 2px;

            ul {
                list-style: circle;
            }
            li ~ ul {
                margin-bottom: 0;
            }
        }

        ol {
            @apply flex flex-col list-decimal pl-4;
            gap: 2px;

            li {
                padding-left: 4px;
            }
        }

        p {
            a {
                position: relative;

                &:after {
                    background: linear-gradient(to right, var(--compass-blue), var(--compass-green));
                    bottom: -3px;
                    content: '';
                    height: 2px;
                    left: 0;
                    position: absolute;
                    right: 0;
                }
            }
        }

        .product-header {
            @apply font-bold text-xl md:text-2xl uppercase text-accent-blue mb-1 mt-3 lg:first:mt-0 lg:mb-0 leading-tight text-center lg:text-left;
        }

        .product-subheader {
            @apply font-bold text-base md:text-lg text-black mb-1 mt-3 text-center lg:text-left;
        }

        .mui-icon {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            width: 1em;
            height: 1em;
            display: inline-block;
            fill: currentColor;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            font-size: 1.5rem;
            vertical-align: middle;
        }
    }
    
}
