@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --theme-primary: #002200;
    --theme-secondary: #ff9900;
    --theme-tertiary: #00cc99;
    --theme-quaternary: #597931;
    --shadow-green: #525f52;
    --text-standard: #060606;
    --text-primary: #003300;
    --border-light: #e6e6e6;

    background: var(--theme-primary);

    html, body {
        background: white;
        font-family: 'Ubuntu', sans-serif;

        ul {
            @apply flex flex-col list-disc pl-10;
            gap: 2px;

            ul {
                list-style: circle;
            }
            li ~ ul {
                margin-bottom: 0;
            }
        }

        ol {
            @apply flex flex-col list-decimal pl-10;
            gap: 2px;

            li {
                padding-left: 4px;
            }
        }

        p {
            color: white;

            a {
                position: relative;

                &:after {
                    background: linear-gradient(to right, var(--theme-secondary), var(--theme-tertiary));
                    bottom: -3px;
                    content: '';
                    height: 2px;
                    left: 0;
                    position: absolute;
                    right: 0;
                }
            }
        }

        a.inline-link {
            position: relative;

                &:after {
                    background: linear-gradient(to right, var(--theme-secondary), var(--theme-tertiary));
                    bottom: -3px;
                    content: '';
                    height: 2px;
                    left: 0;
                    position: absolute;
                    right: 0;
                }
        }

        .mui-icon {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            width: 1em;
            height: 1em;
            display: inline-block;
            fill: currentColor;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            font-size: 1.5rem;
            vertical-align: middle;
        }
    }
    
}
