---
import logoImage from '../../images/logo_placeholder.png';
import { Image } from 'astro:assets';

const year = new Date().getFullYear()
---
<footer>
    <div class="bg-primary text-base text-white px-5 lg:px-10 py-10">
        <div class="flex flex-col items-center gap-5 mx-auto max-w-[1000px]">
                <Image alt="Compass Insurance logo" src={logoImage} height="100" class="h-20 w-[342px] object-contain"/>
                <div class="text-sm">© {year} Track & Field Logistics | All rights reserved.</div>
            </div>
        </div>
    </div>
</footer>
