---

---
<footer>
    <div class="bg-accent-blue text-sm text-white px-5 py-10">
        <div class="flex flex-col lg:flex-row items-center justify-between mx-auto max-w-[1000px]">
            <div class="flex flex-col gap-6 text-center lg:text-left w-full lg:w-2/3">
                <div>We do not offer every plan available in your area. Any information we provide is limited to those plans we do offer in your area. Please contact Medicare.gov or 1-800-MEDICARE to get information on all of your options.</div>
                <div>White logo goes here</div>
                <div>© 2023 Compass Insurance Group</div>
            </div>
            <div class="hidden lg:flex gap-6 font-light w-max">
                <div class="flex flex-col gap-[6px]">
                    <div class="font-bold">Products & Services</div>
                    <div>Marketplace Health Insurance</div>
                    <div>Medicare Information</div>
                    <div>Long Term Care</div>
                    <div>Life Insurance</div>
                    <div>Annuities</div>
                </div>
                <div class="flex flex-col gap-[6px]">
                    <div  class="font-bold">Connect</div>
                    <div>Our Story</div>
                    <div>Our Team</div>
                    <div>FAQs</div>
                    <div>Contact Us</div>
                </div>
            </div>
        </div>
    </div>
</footer>