---
import logoImage from '../../images/logo_alt_placeholder.png';
import { Image } from 'astro:assets';
import config from '../../config/default.json';
import MaterialIcons from '../ui/MaterialIcons';

const links = config.links;
---
<header class="relative z-50">
    <div class="flex items-center bg-white shadow-md w-full h-12 md:h-[60px] px-5">
        <!-- Mobile -->
        <div class="flex w-full items-center justify-between md:hidden">
            <a href="/tf-logistics/portfolio"><MaterialIcons icon="FolderIcon" className='!h-9 !w-9 cursor-pointer !text-primary' /></a>
            <a href="/tf-logistics/"><Image alt="Track & Field Logistics logo" src={logoImage} class="h-[30px] ml-10 object-contain" height="60" /></a>
            <a href="mailto:hoosiertrack@gmail.com"><MaterialIcons icon="EmailIcon" className='!h-9 !w-9 cursor-pointer !text-primary' /></a>
        </div>
        <!-- Desktop -->
        <div class="hidden md:flex w-full max-w-[1200px] mx-auto items-center justify-between font-semibold text-lg text-primary">
            <a href="/tf-logistics/"><Image alt="Track & Field Logistics logo" src={logoImage} class="h-10 w-[171px] object-contain" height="40" /></a>
            <div class="flex gap-5">
                <a href="/tf-logistics/portfolio">Portfolio</a>
                <a href={links.email}>Contact Us</a>
            </div>
        </div>
    </div>
</header>
