---
import Layout from "../layouts/Layout.astro";
import Address from '../components/Address.astro';
import { Image } from 'astro:assets';

import FaxIcon from '@mui/icons-material/Fax';
import Phone from "@mui/icons-material/Phone";
import Email from "@mui/icons-material/Email";
import KeyboardArrowRightIcon from '@mui/icons-material/KeyboardArrowRight';
import Quicklinks from "../components/Quicklinks.astro";
---

<Layout title="Contact Us - Compass Insurance Group">
    <div class="p-4 mt-4 flex flex-col items-center lg:px-4 lg:max-w-[1000px] lg:mx-auto">
        <div class="text-2xl font-bold">How can we help?</div>
        <div class="w-full flex flex-col items-center my-8 lg:flex-row gap-3">
            <div id="email" class="tile">
                <Email className="text-[60px] fill-accent-blue opacity-80" />
                <div>
                    <div class="flex gap-1 items-center text-base font-bold">
                        <div>Email us</div>
                        <KeyboardArrowRightIcon />
                    </div>
                    <div id="email-copy" class="hidden text-sm font-light">Address copied to clipboard!</div>
                </div>
            </div>
            <div class="tile">
                <Phone className="text-[60px] fill-accent-blue opacity-80" />
                <div>
                    <div class="flex gap-1 items-center text-base font-bold">
                        <div>Call us</div>
                        <KeyboardArrowRightIcon />
                    </div>
                    <div class="text-sm font-light">317-398-9321</div>
                </div>
                <a href="tel:3173989321" class="absolute top-0 left-0 w-full h-full"></a>
            </div>
            <div class="tile">
                <FaxIcon className="text-[60px] fill-accent-blue opacity-80" />
                <div>
                    <div class="flex gap-1 items-center text-base font-bold">
                        <div>Send us a fax</div>
                    </div>
                    <div class="text-sm font-light">317-392-7886</div>
                </div>
            </div>
        </div>
        <div class="text-2xl font-bold lg:hidden">Come see us!</div>
        <div class="flex flex-col lg:flex-row gap-5 my-5 max-w-md md:max-w-xl lg:max-w-full">
            <Address />
            <iframe src="https://maps.google.com/maps?q=103%20W.%20Boggstown%20Road%2C%20%20Shelbyville%2C%20IN%2046176&t=m&z=10&output=embed&iwloc=near" title="103 W. Boggstown Road, Shelbyville, IN 46176" class="w-full h-64 lg:h-[398px]" />
            <Quicklinks className="lg:hidden" showDropdown="true" />
        </div>
    </div>
</Layout>
<style>
    .tile {
        @apply relative flex text-black border-[1px] border-accent-shadow-blue bg-white rounded-md items-center gap-5 py-3 px-5 shadow-md shadow-accent-lightblue h-20 w-full max-w-md md:max-w-xl;
    }
</style>
<script>
    const emailTile = document.getElementById('email');
    const emailLink = document.createElement('a');
    emailLink.href = 'mailto:ashley@compass-insurancegroup.com';
    emailLink.style.position = 'absolute';
    emailLink.style.top = '0';
    emailLink.style.left = '0';
    emailLink.style.width = '100%';
    emailLink.style.height = '100%';
    emailLink.style.cursor = 'pointer';
    emailLink.onclick = () => {
        navigator.clipboard.writeText(emailLink.href.split('mailto:')[1]);
        document.getElementById('email-copy')!.style.display = 'block';
    };
    emailTile?.append(emailLink);
</script>
