---
import Products from '../layouts/Products.astro';
import Button from '../components/ui/Button.astro';
import config from '../config/default.json';

const links = config.links;
---
<Products imgAlt="pregnant woman in a hospital looking over a medical form with a doctor" page="Health Insurance" route="health-insurance">
    <div class="flex flex-col gap-3">
        <div class="product-header">MARKETPLACE HEALTH INSURANCE</div>
        <div class="product-subheader">About the Affordable Care Act</div>
        <p>The Patient Protection and Affordable Care Act, referred to as the Affordable Care Act or “ACA” for short, is the comprehensive health care reform law enacted in March 2010.</p>
        <p>The law has 3 primary goals:</p>
        <ul class="flex flex-col list-disc pl-5 mb-3">
            <li>Make affordable health insurance available to more people. The law provides consumers with subsidies (“premium tax credits”) that lower costs for households with incomes between 100% and 400% of the federal poverty level (FPL).</li>
            <li>Expand the Medicaid program to cover all adults with income below 138% of the FPL. Not all states have expanded their Medicaid programs.</li>
            <li>Support innovative medical care delivery methods designed to lower the costs of health care generally.</li>
        </ul>
        <div class="product-subheader">Rights & Protections</div>
        <p>The health care law offers rights and protections that make coverage more fair and easy to understand. Some rights and protections apply to plans in the Health Insurance Marketplace® or other individual insurance, some apply to job-based plans, and some apply to all health coverage. The protections outlined below may not apply to grandfathered health insurance plans.</p>
        <p>How the health care law protects you:</p>
        <ul class="flex flex-col list-disc pl-5 mb-3">
            <li>Requires insurance plans to cover people with pre-existing health conditions, including pregnancy, without charging more</li>
            <li>Provides <a href="https://www.healthcare.gov/coverage/preventive-care-benefits/" class="inline-link" target="_blank">free preventive care</a></li>
            <li>Gives young adults more coverage options</li>
            <li>Ends lifetime and yearly dollar limits on coverage of essential health benefits</li>
            <li>Helps you understand the coverage you’re getting</li>
            <li>Holds insurance companies accountable for rate increases</li>
            <li>Makes it illegal for health insurance companies to cancel your health insurance just because you get sick</li>
            <li>Protects your choice of doctors</li>
            <li>Protects you from employer retaliation</li>
        </ul>
        <div class="product-subheader">Most people qualify for savings</div>
        <p>Depending on your expected household income for the year, you may qualify for:</p>
        <ul class="flex flex-col list-disc pl-5 mb-3">
            <li>Lower costs for your Marketplace plan, like the premium tax credit that lowers your monthly insurance bill, and for extra savings on out-of-pocket costs like deductibles and copayments.</li>
            <li>Coverage through Medicaid or the Children's Health Insurance Program (CHIP). Your children may qualify for CHIP, even if you don't qualify for Medicaid.</li>
        </ul>
        <div class="product-subheader">All Marketplace plans cover:</div>
        <ul class="flex flex-col list-disc pl-5 mb-3">
            <li>10 essential health benefits, including prescription drugs, emergency services, hospitalization, laboratory services, and mental health and substance use disorder services</li>
            <li>Free preventive health services at no cost to you when delivered by a doctor or provider in your plan's network</li>
            <li>Coverage for pre-existing conditions</li>
        </ul>
        <Button className="mt-3 w-[80%] max-w-[425px] mx-auto md:w-full lg:w-80 lg:mx-0" href={links.contact.href}>{links.contact.buttonText}</Button>
    </div>
</Products>
