---
import Address from '../components/Address.astro';
import Button from '../components/ui/Button.astro';
import Layout from '../layouts/Layout.astro';
import Tile from '../components/Tile.astro';

import config from '../config/default.json';
import { Image } from 'astro:assets';

import homeBanner from '../images/homeBanner.jpg';
import homeSquare from '../images/homeSquare.jpg';
import Quicklinks from '../components/Quicklinks.astro';

---
<Layout>
	<main class="">
		<Image alt="Family sitting in their living room" src={homeBanner} class="md:hidden" />
		<div class="bg-gradient-to-b from-transparent to-[#accbee60] px-4 pb-6">
			<div class="flex flex-col gap-2 items-center text-center my-6">
				<div class="font-normal text-base">Welcome to Compass Insurance Group</div>
				<div class="font-bold text-xl">Helping you navigate the insurance maze</div>
			</div>
			<div class="lg:py-8 lg:border-light">
				<div class="text-sm font-bold text-center mb-6">Select a product for more information</div>
				<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-3 lg:gap-4 ">
					{config.tiles.map((t, i) => (
						<Tile dictionary={t} index={i}/>
					))}
				</div>
			</div>
			<Button className="mt-6 w-[80%]" href="#">Contact an agent</Button>
		</div>
		<Address className="py-6 px-10 max-w-md mx-auto" />
		<Quicklinks className="mb-6 px-10" />
	</main>
</Layout>

<style>
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
