---
import Products from '../layouts/Products.astro';
import Button from '../components/ui/Button.astro';
---
<Products imgAlt="elderly woman sitting in a wheelchair near a window and smiling" page="Long Term Care">
    <div class="flex flex-col gap-3">
        <div class="product-header">Long Term Care</div>
        <p>Long-term care insurance products should be considered by everyone who wants to insure they receive the medical attention they deserve when they need it most.  Long-term care products are a way for individuals to ensure their retirement is not used up quickly through expensive medical bills, senior living fees, or other related costs, thereby leaving them without something to pass on to their families.</p>
        <p>Long-term care products often cover medical and non-medical costs associated with caring for an individual with a chronic illness or disability.  The coverage can aid individuals with covering the costs of daily help of routine activities like dressing, cooking, and bathing.  It can also cover the costs of necessary treatments.  The plans are also flexible in their use for in-home services, in the community, and at senior living and nursing home facilities.</p>
        <p>Contact a Compass agent to discuss what long-term care products may be best for you.</p>
        <Button className="mt-3 w-[80%] max-w-[425px] mx-auto md:w-full lg:w-80 lg:mx-0" href="/contact">Questions? Contact an agent</Button>
    </div>
</Products>
