---
import { Image } from 'astro:assets';
import Button from '../components/ui/Button.astro';
import config from '../config/default.json';

import jay from '../images/jayEdited.jpg';

const links = config.links;

type Props = {
    buttonVariant: 'contact' | 'portfolio',
    className?: string
}

const buttonMap = {
    'contact': {
        href: links.email,
        text: 'Contact us'
    },
    'portfolio': {
        href: '/tf-logistics/portfolio',
        text: 'See my work'
    }
}

const { buttonVariant, className } = Astro.props
---
<div class={className}>
    <div class={`float-right ml-4 mb-4 h-[216px] w-36`}>
        <Image class="h-full w-full rounded-md" alt="headshot of Gary Nolley, and agent and the founder of Compass Insurance Group" src={jay} height={768} width={512} loading="lazy" />
    </div>
    <div>
        <div>Hi, I'm <span class="font-bold">Jay D. Arther</span>, the founder of Track & Field Logistics.</div>
        <div class="mt-5">Since 1989, I have been actively involved in virtually every aspect of track & field and cross country. My expertise has been utilized by countless athletes, managers, and administrators from the middle school level all the way up through the professional ranks.</div>
        <div class="mt-5">I'm confident that whatever your needs are, whether you're looking for <span class="font-bold italic">consulting on new construction or renovations</span>, <span class="font-bold italic">management of your facility</span>, <span class="font-bold italic">equipment purchases and recommendations</span>, <span class="font-bold italic">technology upgrades</span>, and/or <span class="font-bold italic">event hosting</span>, I am the right person for the job.</div>
        <div class="mt-5">
            <Button href={buttonMap[buttonVariant].href} className='w-[80%] mx-auto mt-0 md:mt-6 mg:mt-0 lg:max-w-xs lg:mx-0'>{buttonMap[buttonVariant].text}</Button>
        </div>
    </div>
</div>

<style>

</style>