---
import LaunchIcon from '@mui/icons-material/Launch';
import Accordion from './ui/Accordion';

const { className, showDropdown } = Astro.props
---
<div class={`quick-items flex flex-col w-full ${className}`}>
    {showDropdown && (
        <div class="quick-item">
            <Accordion client:load title="More Products & Services">
                <div class="flex flex-col gap-2 mt-2 text-base dropdown-list">
                    <div>Marketplace Health Insurance</div>
                    <div>Medicare Information</div>
                    <ul class="!gap-2 !ml-6 !list-none !pl-0">
                        <li>Part A: Hospital Insurance</li>
                        <li>Part B: Medical Insurance</li>
                        <li>Part C: Medicare Advantage</li>
                        <li>Part D: Drug Coverage</li>
                        <li>Supplement: Medigap</li>
                    </ul>
                    <div>Long Term Care</div>
                    <div>Life Insurance</div>
                    <div>Annuities</div>
                </div>
            </Accordion>
        </div>
    )}
    <div class="quick-item">
        <div>About Us</div>
        <LaunchIcon />
    </div>
    <div class="quick-item">
        <div>FAQs</div>
        <LaunchIcon />
    </div>
    <div class="quick-item">
        <div>Contact</div>
        <LaunchIcon />
    </div>
</div>

<style>
    .quick-items .quick-item {
        border-bottom: 1px solid #e6e6e6;
    }
    .quick-items .quick-item:first-child {
        border-top: 1px solid #e6e6e6;
    }
    .quick-item {
        @apply flex justify-between py-4 items-center;
        font-size: 20px;
    }
    .dropdown-list div,
    .dropdown-list ul li {
        text-decoration: underline;
    }
</style>