---
import stars from '../images/stars.png';
import { Image } from 'astro:assets';

const { className } = Astro.props;
---
<div class={`flex relative items-center ${className}`}>
    <Image alt="5 stars" src={stars} quality="max" class="absolute top-[-40px] left-[-40px]" />
    <div class="relative flex flex-col gap-3 z-30">
        <div class="text-2xl xl:text-3xl">“Gary has always been so kind and patient when answering my many questions about insurance. I am extremely grateful for the services he provides. 10/10 recommend Compass Insurance Group!”</div>
        <div class="text-lg xl:text-xl">-Heather W.</div>
    </div>
</div>