---
type Props = {
    dictionary: {
        heading: string
        subheading: string
        href: string
    }
    index: number
}

const { dictionary } = Astro.props
---
<div class="relative flex text-black border-[1px] border-primary bg-white rounded-md items-center gap-5 py-3 px-5 shadow-md shadow-accent-shadow-green h-28 lg:h-24">
    <div>
        <div class="text-sm font-bold">{dictionary.heading}</div>
        <div class="text-sm font-light">{dictionary.subheading}</div>
    </div>
    <a href={dictionary.href} class="absolute top-0 left-0 w-full h-full"></a>
</div>