---
import Products from '../../layouts/Products.astro';
import Button from '../../components/ui/Button.astro';
---
<Products imgAlt="man looking over paperwork" page="medicare#supplement">
    <div class="flex flex-col gap-3">
        <div class="product-header">WHAT IS A MEDICARE SUPPLEMENT?</div>
        <p>Medigap is Medicare Supplement Insurance that helps fill “gaps” in Original Medicare and is sold by private companies. Original Medicare pays for much, but not all, of the cost for covered health care services and supplies. A Medicare Supplement Insurance (Medigap) policy can help pay some of the remaining health care costs, like:</p>
        <ul>
            <li>Copayments</li>
            <li>Coinsurance</li>
            <li>Deductibles</li>
        </ul>
        <p>Some Medigap policies also cover services that Original Medicare doesn’t cover, like medical care <a href="https://www.medicare.gov/supplements-other-insurance/medigap-travel" target="_blank">when you travel outside the U.S.</a> If you have Original Medicare and you buy a Medigap policy, here’s what happens:</p>
        <ul>
            <li>Medicare will pay its share of the Medicare-Approved Amount for covered health care costs.</li>
            <li>Then, your Medigap insurance company pays its share.</li>
        </ul>
        
        <div class="product-subheader">Things to know about Medigap policies</div>
        <ol>
            <li>You must have Medicare Part A and Part B.</li>
            <li>A Medigap policy is different from a Medicare Advantage Plan.  Those plans are ways to get Medicare benefits, while a Medigap policy only supplements your Original Medicare benefits.</li>
            <li>You pay the private insurance company a monthly premium for your Medigap policy. You pay this monthly premium in addition to the monthly Part B premium that you pay to Medicare.</li>
            <li>A Medigap policy only covers one person. If you and your spouse both want Medigap coverage, you’ll each have to buy separate policies.</li>
            <li>Any standardized Medigap policy is guaranteed renewable even if you have health problems. This means the insurance company can’t cancel your Medigap policy as long as you pay the premium.</li>
            <li>Some Medigap policies sold in the past cover prescription drugs. But, Medigap policies sold after January 1, 2006 aren’t allowed to include prescription drug coverage. If you want prescription drug coverage, you can join a Medicare <a href="https://www.medicare.gov/drug-coverage-part-d" target="_blank">Prescription Drug Plan (Part D)</a>. If you buy Medigap and a Medicare drug plan from the same company, you may need to make 2 separate premium payments. Contact the company to find out how to pay your premiums.</li>
        </ol>
        <div class="product-header">MEDIGAP POLICIES DON’T COVER EVERYTHING</div>
        <p>Medigap policies generally don’t cover: </p>
        <ul>
            <li>Long-term care (like non-skilled care you get in a nursing home)</li>
            <li>Vision or dental services</li>
            <li>Hearing aids</li>
            <li>Eyeglasses</li>
            <li>Private-duty nursing</li>
        </ul>
        <Button className="mt-3 w-[80%] max-w-[425px] mx-auto md:w-full lg:w-80 lg:mx-0" href="/contact">Questions? Contact an agent</Button>
    </div>
</Products>
