---
import MaterialIcons from './MaterialIcons.tsx';

type Props = {
    className?: string;
    href: string;
}

const { className, href } = Astro.props
---
<a class={`flex gap-1 items-center justify-center py-2 border-[1px] border-[#105f9d] rounded-md text-[#105f9d] bg-white text-sm text-center ${className}`} href={href}>
    <slot />
    <MaterialIcons icon="KeyboardArrowRightIcon" />
</a>
